{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1>Welcome to Trigger Camera!</h1>

<p>Click the link below to start listening!</p>

<input type="button" id='script' name="script-button" value=" Run Script " onclick="runScript()">

<script>
    function runScript() {
        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (request.readyState === 4) {
                if (request.status === 200) {
                    alert('Ran the script, result was ' + request.responseText);
                } else {
                    alert('Something went wrong, status was ' + request.status);
                }
            }
        };
        request.open('POST', 'trigger_camera.py', true);
        request.send(null);
        return false;  // Prevent the default button action
    };
    
    document.getElementById('script-button').onclick = runScript;
</script>

{% endblock %}